<h1>Book Info</h1>
<p>Title: <%= @book.title %> </p>
<p>Genre: <%= @book.genre %> </p>

<h3>Authors:</h3>
<% @book.authors.each do |author| %>
<p><%= author.name %></p>
<% end %>
<h3>average_author_age:  <%= @book.authors.average_author_age%> </h3>

<h3>Found at Library: <%= @book.library.name %> </h3>
