<h1><%= @book.title  %></h1>
<h3><%= @book.genre %></h3>
<div id="authors">
    <ul> Authors: 
    <hr>
         <% @book.authors.each do |author| %>
            <li>
                <%= author.name  %>
            </li>
            <% end %>
    </ul>
    <br>
    <hr>
Average age: <%= @book.average_age  %>
</div>
Library: <%= @book.library.name  %>