<h1> <%= @book.title %> </h1>
<p><strong>Library: </strong> <%= @book.library.name %>
<p><strong>Genre: </strong><%= @book.genre %></p>
<h3>Authors</h3>
<% @book.authors.each do |author| %>
<p> <%= author.name %></p>
<% end %>
<p>Authors Average Age: <%= @book.authors.average_age %></p>
