
<%= @book.title %>
<br>
<%= @book.genre %>
<br>
<% @book.authors.each do |author| %>
  <p> <%= author.name %> </p>
<% end %>
<br>
<%= @book.library.name %>

<p>Average age of authors: <%= @book.average_age_of_author %> </p>
